.App {
}

.Row{
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  margin-bottom: 30px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  border: 1px solid #dadde1;
  padding: 0.5rem;
  text-align: left;
  background-color: #ececec;
  text-transform: uppercase;
}

td {
  border: 1px solid #dadde1;
  padding: 0.5rem;
  text-align: left;
}

input {
  outline: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
